vendor/
node_modules/
storage/
/build/logs
/build/coverage
/app/tests/_log
/app/config/packages
/public/packages
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/*
storage/*
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/.idea
/_ide_helper.php

composer.phar
.DS_Store






